<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Programa de Colas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" type="text/javascript"></script>
</head>

<body>
    <h1>Programa de Colas</h1>
    <div id="app" class="container mx-auto my-2 p-4 bg-white">
      <h1 v-for="m in messages">{{ m }}</h1>
    </div>
    <script src="main.js"></script>

</body>

</html>
